<div id="map" style="width:100%; height:500px"></div>

<div id="routesCarousel" class="carousel slide mb-5" data-ride="carousel" data-interval="false" data-wrap="false">
  <ol class="carousel-indicators carousel-indicators--round fixed-bottom">
<% @steps.each_with_index do |step, idx| %>
<% active = idx === 0 ? "active" : "" %>
    <li data-target="#routesCarousel" data-slide-to="<%= idx %>" class="<%= active %>"></li>
<% end %>
  </ol>

  <div class="carousel-inner">
<% @steps.each_with_index do |step, idx| %>
<% active = idx === 0 ? "active" : "" %>
<div class="carousel-item <%= active %>" data-route-index="<%= idx %>" data-route="<%= step.content %>">
<table class="table">
  <tbody>
    <% if step.body["departure"].present? %>
      <tr><td>
        <small class="form-text text-muted">Wait <%= step.body["vehicle"] %> at</small>
        <span><%= step.body["departure"] %></span>
      </td></tr>
      <% if step.body["vehicle"] == "Bus" && step.body["bus_stop_services"] %>
        <%= render partial: "bus-arrivals", locals: {services: step.body["bus_stop_services"]} %>
      <% end %>
    <% else %>
      <tr><td>
        <small class="form-text text-muted"><%= step.travel_mode %></small>
        <span><%= step.html_instructions %></span>
        <small class="form-text text-muted"><%= step.distance + " " + step.duration %></small>
      </td></tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>
  </div>

  <div class="fixed-bottom">
  <a class="carousel-control-prev" href="#routesCarousel" role="button" data-slide="prev" onClick="updateRoute(false)">
    <i class="fa fa-lg fa-angle-left" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#routesCarousel" role="button" data-slide="next" onClick="updateRoute(true)">
    <i class="fa fa-lg fa-angle-right" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>

<%= render partial: "map-scripts", locals: {step: @steps.first} %>
